.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-top: .5px;
  border-bottom: .5px;
  border-style: solid;
  border-color: #FFF;
}

.container_header {
  display: flex;
  gap: .5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.container_header_email {
  color: rgb(107 114 128);
}

.container_body {
  font-size: 0.75rem;
  line-height: 1rem;
}