@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: fit-content;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #FFF;
  padding: 1.5rem 0rem;
}

@media (max-width: 1200px) { 
  main {
    width: 50%;
  }
}

@media (max-width: 600px) {
  main {
    width: 100%;
    border: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
